@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

*, :root{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
img{
    width: 50px;
    height: 50px;
    margin-bottom: 24px;
    background-color: white;
    border-radius: 50%;
}

body{
    color: white;
    background-color: rgb(46, 46, 46);
    font-family: 'Montserrat', sans-serif;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

main{
    max-width: 640px;
    padding: 20px;
    margin: 0 auto 64px;
}

header{
    margin-top: 64px;
    padding-bottom: 24px;
    border-bottom: 1px solid #5f5f5f;
}

header h1{
    font-size: 30px;
}

.quiz-item h2{
    padding: 16px 20px;
    font-size: 13pt;
    display: flex;
    align-items: center;
    gap: 12px;
    background-color: #424242;
}

#quiz{
    counter-reset: quiz-item;
}

.quiz-item h2::before{
    counter-increment: quiz-item;
    content: counter(quiz-item);

    background-color: #5e5e5e;
    width: 28px;
    height: 28px;
    font-size: 12px;

    display: flex;
    align-items: center;    
    justify-content: center;
    border-radius: 50%;
    margin-bottom: 10px;
    flex-shrink: 0;
}

.quiz-item{
    margin-top: 24px;
    border: 1px solid #5f5f5f;
    border-radius: 6px;
    overflow: hidden;
}

.quiz-item dl{
    padding: 0px 20px;
    margin-bottom: 25px;
    margin-top: 25px;
    display: grid;
    gap: 10px;
}

.quiz-item dl dt{
    color: #c0c0c0;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0;
    display: flex;
    align-items: center;
}

input{
    all: unset;
    border: 1px solid gray;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    display: block;
    margin-right: 8px;
    flex-shrink: 0;
    cursor: pointer;

}

input:checked{
    border: 1px solid #000000 ;
    display: flex;
    align-items: center;
    justify-content: center;
}

input:checked:before{
    content: "";
    width: 10px;
    height: 10px;
    
    background-color: #000000;
    border-radius: 50%;
}

#acertos{
    text-align: center;
    background-color: #005a96;

    position: fixed;
    bottom: 0;
    left: 0;

    width: 100%;
    padding: 5px;

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
    margin-top: 50px;
}
